@import '~@csstools/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.unstyled-list {
  list-style-type: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h2 {
  font-family: "Fraunces", serif;
}

.hero-title {
  font-size: 1.7em;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 40px;
}
@media (min-width: 850px) {
  .hero-title {
    font-size: 2.2em;
  }
}
@media (min-width: 900px) {
  .hero-title {
    font-size: 2.5em;
  }
}
@media (min-width: 1000px) {
  .hero-title {
    font-size: 2.8em;
  }
}
@media (min-width: 1300px) {
  .hero-title {
    font-size: 3.2em;
  }
}

.nav-items a {
  text-decoration: none;
  font-size: 0.9rem;
  color: hsl(210, 4%, 67%);
}
@media (min-width: 850px) {
  .nav-items a {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
  }
  .nav-items a:hover {
    color: hsl(51, 100%, 49%);
  }
}

#contact-item {
  background-color: hsl(51, 100%, 49%);
  padding: 4px 20px 8px;
  border-radius: 20px;
}
@media (min-width: 850px) {
  #contact-item {
    background-color: hsl(0, 0%, 100%);
    padding: 12px 25px;
    border-radius: 30px;
  }
  #contact-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  #contact-item:hover a {
    color: hsl(0, 0%, 100%);
  }
}
#contact-item a {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}
@media (min-width: 850px) {
  #contact-item a {
    font-size: 1rem;
  }
}

.about-us-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0 10px;
  line-height: 1.2em;
  color: hsl(212, 27%, 19%);
  margin-bottom: 0.8em;
}
@media (min-width: 550px) {
  .about-us-title {
    padding: 0;
  }
}
@media (min-width: 750px) {
  .about-us-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 1250px) {
  .about-us-title {
    font-size: 2.2rem;
    margin-bottom: 1em;
  }
}
@media (min-width: 1350px) {
  .about-us-title {
    margin-bottom: 1.3em;
  }
}

.about-us-text {
  font-size: 15px;
  color: hsl(232, 10%, 55%);
  margin-bottom: 0.8em;
}
@media (min-width: 750px) {
  .about-us-text {
    font-size: 16px;
  }
}
@media (min-width: 1250px) {
  .about-us-text {
    font-size: 18px;
    margin-bottom: 1em;
  }
}

.learn-more-red, .learn-more-yellow {
  font-family: "Fraunces", serif;
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  padding: 0 4px;
}
@media (min-width: 750px) {
  .learn-more-red, .learn-more-yellow {
    font-size: 0.9rem;
  }
}
@media (min-width: 1250px) {
  .learn-more-red, .learn-more-yellow {
    font-size: 1rem;
  }
}

.learn-more-yellow {
  background: linear-gradient(to top, #ffef94 20%, hsl(0, 0%, 100%) 40%);
}
.learn-more-yellow:hover {
  background: linear-gradient(to top, hsl(51, 100%, 49%) 20%, hsl(0, 0%, 100%) 40%);
}

.learn-more-red {
  background: linear-gradient(to top, #ffd2cc 20%, hsl(0, 0%, 100%) 40%);
}
.learn-more-red:hover {
  background: linear-gradient(to top, hsl(7, 99%, 70%) 20%, hsl(0, 0%, 100%) 40%);
}

.services-title-graphic {
  color: hsl(167, 40%, 24%);
  font-size: 1.4rem;
  font-weight: 900;
}
@media (min-width: 1400px) {
  .services-title-graphic {
    font-size: 1.6rem;
  }
}

.services-text-graphic {
  color: #2C7566;
  font-size: 14px;
}
@media (min-width: 1400px) {
  .services-text-graphic {
    font-size: 16px;
  }
}

.services-title-photo {
  color: hsl(198, 62%, 26%);
  font-size: 1.4rem;
  font-weight: 900;
}
@media (min-width: 1400px) {
  .services-title-photo {
    font-size: 1.6rem;
  }
}

.services-text-photo {
  color: hsl(198, 62%, 26%);
  font-size: 14px;
}
@media (min-width: 1400px) {
  .services-text-photo {
    font-size: 16px;
  }
}

.client-title {
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 3px;
}
@media (min-width: 850px) {
  .client-title {
    font-size: 1.3rem;
  }
}

.client-text {
  color: hsl(213, 9%, 39%);
  font-size: 15px;
}
@media (min-width: 850px) {
  .client-text {
    font-size: 17px;
  }
}

.client-name {
  font-family: "Fraunces", serif;
  font-size: 0.9rem;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
@media (min-width: 850px) {
  .client-name {
    font-size: 1.1rem;
  }
}

.client-profession {
  font-size: 13px;
  color: hsl(210, 4%, 67%);
}

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  color: hsl(0, 0%, 100%);
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 400px) {
  .main-header {
    background-image: url("../images/desktop/image-header.jpg");
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100%;
}

.logo-container {
  min-width: 8rem;
  margin: 1.2em 0 0 1em;
}
@media (min-width: 850px) {
  .logo-container {
    margin: 2.5em 0 0 2em;
    min-width: 11rem;
  }
}

.hero-area {
  text-align: center;
}

.hero-title {
  margin-top: 2em;
  margin-bottom: 1.5em;
}
@media (min-width: 850px) {
  .hero-title {
    margin-top: 3em;
    margin-bottom: 1.8em;
  }
}
@media (min-width: 900px) {
  .hero-title {
    margin-bottom: 1.9em;
  }
}
@media (min-width: 1000px) {
  .hero-title {
    margin-bottom: 2em;
  }
}
@media (min-width: 1300px) {
  .hero-title {
    margin-bottom: 2.1em;
  }
}

.arrow-down {
  height: 100px;
}
@media (min-width: 850px) {
  .arrow-down {
    margin-bottom: 13em;
  }
}
@media (min-width: 1300px) {
  .arrow-down {
    height: 120px;
    margin-bottom: 22em;
  }
}

.main-nav {
  position: absolute;
  width: 80%;
  left: 100%;
  right: 0;
  top: 0;
  z-index: 9;
  overflow: hidden;
  opacity: 0;
  background: hsl(0, 0%, 100%);
  margin: auto;
  display: none;
}
@media (min-width: 850px) {
  .main-nav {
    display: block;
    opacity: 100%;
    left: 0;
    background: none;
    width: 50%;
    margin-left: 50%;
    margin-top: 1em;
    align-self: flex-start;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 38%;
    margin-left: 62%;
  }
}
.main-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  height: 30vh;
}
@media (min-width: 850px) {
  .main-nav ul {
    flex-direction: row;
    height: auto;
  }
}
.main-nav.is-open {
  display: block;
  left: 0;
  top: 70px;
  opacity: 100%;
  overflow: visible;
}
@media (min-width: 850px) {
  .main-nav.is-open {
    top: 0;
  }
}

.main-nav::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 100%;
  transform: rotate(90deg) scale(2, 2) translate(1px, 9.5px);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}
@media (min-width: 850px) {
  .main-nav::before {
    display: none;
  }
}

.nav-toggle {
  cursor: pointer;
  z-index: 10;
  padding: 1.6em 1em 0 0;
}
@media (min-width: 850px) {
  .nav-toggle {
    display: none;
  }
}

.hamburger, .hamburger::before, .hamburger::after {
  content: "";
  display: block;
  width: 1.3em;
  height: 2px;
  background: hsl(0, 0%, 100%);
  transition: all ease-in-out 250ms;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(6px);
}

.hamburger.is-open {
  transform: rotate(-45deg);
}
.hamburger.is-open.hamburger::before {
  transform: rotate(90deg);
}
.hamburger.is-open.hamburger::after {
  opacity: 0;
}

@media (min-width: 550px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
  }
}
.about-us .mobile-img {
  width: 100%;
  height: auto;
}
@media (min-width: 550px) {
  .about-us .mobile-img {
    width: 50%;
  }
}
@media (min-width: 675px) {
  .about-us .mobile-img {
    display: none;
  }
}

.desktop-img {
  display: none;
}
@media (min-width: 675px) {
  .desktop-img {
    display: block;
    width: 50%;
    height: auto;
  }
}

.about-us-container {
  text-align: center;
  padding: 2em 1.5em 2.5em;
}
@media (min-width: 550px) {
  .about-us-container {
    padding: 2em 2em 2.5em;
    text-align: left;
    align-self: center;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .about-us-container {
    padding: 2em 5em;
  }
}
@media (min-width: 1200px) {
  .about-us-container {
    padding: 8em 10em;
  }
}

@media (min-width: 550px) {
  .about-us-1 {
    order: -1;
  }
}

@media (min-width: 500px) {
  .our-services {
    display: flex;
  }
}

.graphics-container-1 {
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 500px) {
  .graphics-container-1 {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .graphics-container-1 {
    height: 600px;
  }
}

.graphics-container-2 {
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 500px) {
  .graphics-container-2 {
    background-image: url("../images/desktop/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .graphics-container-2 {
    height: 600px;
  }
}

.graphics-content {
  margin-bottom: 3em;
  text-align: center;
}
@media (min-width: 700px) {
  .graphics-content {
    margin: 3em;
  }
}
@media (min-width: 1200px) {
  .graphics-content {
    margin: 3em 10em 4em;
  }
}

.services-title-graphic, .services-title-photo {
  margin-bottom: 0.7em;
}

.services-text-graphic, .services-text-photo {
  padding: 0 1.3em;
}

.client-testimonials {
  text-align: center;
  padding: 50px 20px 70px;
}
@media (min-width: 750px) {
  .client-testimonials {
    padding: 120px 200px 130px;
  }
}

.client-image {
  border-radius: 50%;
  max-width: 60px;
  margin: 3.2em 0 2em;
}
@media (min-width: 750px) {
  .client-image {
    max-width: 70px;
  }
}

.client-text {
  margin-bottom: 0.9em;
}
@media (min-width: 750px) {
  .client-text {
    margin-bottom: 3em;
  }
}

@media (min-width: 1100px) {
  .clients-container {
    display: flex;
  }
}

@media (min-width: 750px) {
  .client-container {
    padding: 0 10px;
  }
}
@media (min-width: 850px) {
  .client-container {
    padding: 0 20px;
  }
}

.our-display {
  display: flex;
  flex-wrap: wrap;
}

.display-image {
  width: 50%;
}
@media (min-width: 650px) {
  .display-image {
    display: none;
  }
}

.display-image-desktop {
  display: none;
  width: 25%;
}
@media (min-width: 650px) {
  .display-image-desktop {
    display: block;
  }
}

.main-footer {
  background: #90D4C5;
}

.footer-content {
  text-align: center;
}
.footer-content svg path {
  fill: #2C7566;
}
@media (min-width: 600px) {
  .footer-content {
    margin: auto;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .footer-content {
    width: 22%;
  }
}

.footer-logo {
  padding: 2.5em 0 1.3em;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3.5em;
}

.footer-items {
  color: hsl(168, 34%, 41%);
  text-decoration: none;
}
.footer-items:hover {
  color: hsl(0, 0%, 100%);
}

.social-links {
  padding-bottom: 3em;
}

.social-items path:hover {
  fill: hsl(0, 0%, 100%);
}

.social-list {
  display: flex;
  margin: 0 3em;
  justify-content: space-around;
}