.main-footer
    background: $dark-moderate-cyan2
    text-align: center
    svg
        path
            fill: $dark-desaturated-cyan2

.footer-logo
    padding: 2.5em 0 1.3em

.footer-nav
    display: flex
    justify-content: space-around
    color: $dark-moderate-cyan
    margin-bottom: 3.5em

.social-links
    padding-bottom: 3em

.social-list
    display: flex
    margin: 0 3em
    justify-content: space-around
