.main-header
    display: flex
    flex-direction: column
    height: 100vh
    align-self: center
    background:
        image: url('../images/mobile/image-header.jpg')
        size: 100% 100%
        repeat: no-repeat

    color: $white

.logo
    padding: 1.5em 0 0 1em

.hero-area
    padding-bottom: .5em

.hero-area
    text-align: center
