.main-nav
    list-style-type: none
    position: relative
    left: 10%
    right: 0
    top: 0
    overflow: hidden

    ul
        display: none
        flex-direction: row

//hamburger menu
.nav-toggle
    cursor: pointer
    z-index: 10
    padding: 1.6em 1em 0 0
    @media(min-width: 375)
        display: none

.hamburger, .hamburger::before, .hamburger::after
    content: ''
    display: block
    width: 1.3em
    height: 2px
    background: $white
    transition: all ease-in-out 250ms

.hamburger::before
    transform: translateY(-8px)

.hamburger::after
    transform: translateY(6px)

//animate hamburger when .is-open class is created when clicked
.hamburger.is-open
    transform: rotate(-45deg)

    &.hamburger::before
        transform: rotate(90deg)

    &.hamburger::after
        opacity: 0
