.graphics-container-1
    height: 510px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    background:
        image: url('../images/mobile/image-graphic-design.jpg')
        size: contain
        repeat: no-repeat

.graphics-container-2
    height: 510px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    background:
        image: url('../images/mobile/image-photography.jpg')
        size: contain
        repeat: no-repeat

.graphics-content
    margin-bottom: 3em
    text-align: center

.services-title-graphic, .services-title-photo
    margin-bottom: .7em

.services-text-graphic, .services-title-photo
    padding: 0 1em
