body
    font-family: $main-font
    font-size: 18px

h2
    font-family: $title-font

.hero-title
    font-size: 1.7em
    font-family: $title-font
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 7px
    line-height: 40px

.about-us-title
    font-size: 1.5rem
    font-weight: 900
    padding: 0 10px
    line-height: 1.2em
    color: $very-dark-desaturated-blue

.about-us-text
    font-size: 15px
    color: $very-dark-grayish-blue

.learn-more-red, .learn-more-yellow
    font-family: $title-font
    font-size: .85rem
    letter-spacing: 1px
    text-decoration: none
    text-transform: uppercase
    color: $very-dark-desaturated-blue

.learn-more-yellow
    border-bottom: solid 4px $yellow

.learn-more-red
    border-bottom: solid 4px $soft-red

.services-title-graphic
    color: $dark-desaturated-cyan
    font-size: 1.4rem
    font-weight: 900

.services-text-graphic
    color: $dark-desaturated-cyan2
    font-size: 14px

.services-title-photo
    color: $dark-blue
    font-size: 1.4rem
    font-weight: 900

.services-text-photo
    color: $dark-blue
    font-size: 14px

.client-title
    color: $grayish-blue
    text-transform: uppercase
    font-size: .9rem
    letter-spacing: 3px

.client-text
    color: $very-dark-grayish-blue
    font-size: 15px

.client-name
    font-family: $title-font
    font-size: .9rem
    font-weight: 900
    color: $very-dark-desaturated-blue

.client-profession
    font-size: 13px
    color: $grayish-blue
